.socialaccount_provider_list {
    list-style: none; margin: 0px;
}
.socialaccount_provider_list li {
    float: left; padding-right: 10px;
}
.socialaccount_provider {
    height:  32px; width:  32px; display:  block;
    background-position: top left;
    background-repeat: no-repeat;
}
.socialaccount_provider.google {
    background-image:  url(../allauth/img/google_32.png);
}
.socialaccount_provider.facebook {
    background:  url(../allauth/img/facebook_32.png);
}
.socialaccount_provider.twitter {
    background:  url(../allauth/img/twitter_32.png);
}
.socialaccount_provider.yahoo {
    background:  url(../allauth/img/yahoo_32.png);
}
.socialaccount_provider.openid {
    background:  url(../allauth/img/openid_32.png);
}