{% extends "account/base.html" %}

{% load i18n %}
{% load common_tags %}
{% load account_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block page_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% if not user.is_authenticated %}
    <p class="lead">
        {% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a 
    href="{{ signup_url }}">sign up</a> for a {{site_name}} account and sign in
    below:{% endblocktrans %}
    </p>
    <div class="row">
        {% if socialaccount.providers  %}
            <div class="span5">
                <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" %}
                </ul>
                
                {% include "socialaccount/snippets/login_extra.html" %}
                <!--div class="login-or">{% trans 'or' %}</div-->
            </div>
        {% endif %}
        <div class="span5">
            <form action="{% url account_login %}" method="POST">{% csrf_token %}
                <fieldset>
                    {% render_form form %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
                        <a href="{% url account_reset_password %}" class="btn">{% trans "Forgot Password?" %}</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    
{% endif %}
    
{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
{% endif %}

{% endblock %}