{% extends "account/base.html" %}

{% load i18n common_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block page_title %}{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}{% endblock %}

{% block content %}
    {% if token_fail %}
        {% url account_reset_password as passwd_reset_url %}
        <p class="lead">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form action="" method="POST">{% csrf_token %}
                <fieldset>
                    {% render_form form %}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
                    </div>
                </fieldset>
            </form>
        {% else %}
            <p class="lead">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
