{% extends "account/base.html" %}

{% load i18n common_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}
{% block page_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <p class="lead">To set your password, complete the form below.</p>
    
    <form method="POST" action="" class="password_set">{% csrf_token %}
        {% render_form password_set_form %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="action">{% trans "Set Password" %}</button>
        </div>
    </form>
{% endblock %}
