{% extends "account/base.html" %}

{% load i18n common_tags %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}
{% block page_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% else %}
        <p class="lead">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        
        <div class="row">
            <div class="span5">
                <form action="{% url account_signup %}" method="POST" id="signup_form">{% csrf_token %}
                    <fieldset>
                        {% render_form form %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="span5">
                <p>{% trans "Or sign up with a third party account" %}</p>
                <ul class="socialaccount_provider_list">
                    {% include "socialaccount/snippets/provider_list.html" %}
                </ul>
            </div>
        </div>
        
    {% endif %}
{% endblock %}
