{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}
{% block page_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
	<p class="lead">{% blocktrans %}We have sent you an e-mail to <b>{{ email }}</b> for verification. Please follow the link provided to finalize the signup process. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ settings.CONTACT_EMAIL }}">{{ settings.CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
{% endblock %}
